<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Edify: Connecting Churches</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel='stylesheet' href='styles/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class='bg-success'>
    <!-- <nav class='.navbar-brand bg-darkgreen'>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href='/home'>Edify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Boards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/prayer">Prayer Requests</a>
                  <a class="dropdown-item" href="/churchneeds">Church Needs</a>
                  <a class="dropdown-item" href="#"> Points of Discussion</a>
                  <a class="dropdown-item" href="#"> Events</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    <header class='page-header'>
        <h1 class='text-center text-white'>Edify</h1>
    </header>
    <!-- Shouldn't use these BRs, i'll fix them later -->
    <br>
    <br>
    <section class='home-modules-container container-fluid'>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Prayer Requests</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="/prayer" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Church Needs</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="/churchneeds" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Points of Discussion</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#!" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Events</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#!" class="btn btn-info">Open</a>
                </div>
            </div>       

    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>