<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Edify: Connecting Churches</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel='stylesheet' href='styles/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class='bg-success'>
    <nav class='.navbar-brand bg-darkgreen'>
    </nav>
    <header class='page-header'>
        <h1 class='text-center text-white'>Edify</h1>
    </header>
    <!-- Shouldn't use these BRs, i'll fix them later -->
    <br>
    <br>
    <section class='home-modules-container container-fluid'>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Prayer Requests</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="/prayer" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Individual Needs</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#!" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Church Needs</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#!" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Points of Discussion</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#!" class="btn btn-info">Open</a>
            </div>
        </div>
        <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Events</h4>
                    <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                    <a href="#!" class="btn btn-info">Open</a>
                </div>
            </div>       

    </section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>