<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Edify: Connecting Churches</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel='stylesheet' href='styles/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class='bg-info'>
    <!-- <nav class='.navbar-brand bg-darkgreen'>
        <form action = '/'>
        <button class='back-button btn-sm btn btn-primary'><</button>
        </form>
    </nav> -->
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href='/home'>Edify</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Boards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/prayer">Prayer Requests</a>
                  <a class="dropdown-item" href="/churchneeds">Church Needs</a>
                  <a class="dropdown-item" href="#"> Points of Discussion</a>
                  <a class="dropdown-item" href="#"> Events</a>
                </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Options
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <br>
    <br>
    <header class='page-header'>
        <h1 class='text-center text-white'>Edify: Church Needs</h1>
    </header>
    <!-- Shouldn't use these BRs, i'll fix them later -->
    <br>
    <section class='need-container container-fluid'>
    </section>
    <section class='individual-need-view'></section>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" integrity="sha256-ABVkpwb9K9PxubvRrHMkk6wmWcIHUE9eBxNZLXYQ84k="
    crossorigin="anonymous"></script>
    <script src='js/needs/store.js'></script>
    <script src='js/needs/api.js'></script>
    <script src='js/needs/dom.js'></script>
    <script src='js/needs/index.js'></script>
</body>

</html>